<div class="col-md-12">
  <div class="col-md-5">
    <img src="../../assets/pics/logo.png" />
  </div>
  <div class="col-md-7">
    <form>
      <h3>Sign In</h3>
      <h5>
        Video portfolios to identify the best possible talent for our clients.
      </h5>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          id="name"
          placeholder="USER NAME"
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          placeholder="Password"
        />
      </div>
      <button type="submit" class="btn btn-primary">SIGN IN</button>
      <a [routerLink]="['']">Continue as Guest</a>
    </form>
  </div>
</div>
