.col-md-5 .btn-outline-primary {
  background-color: #173b6b;
  color: white;
}
.showList-date,
.showList-description {
  color: #999999;
  font: 14px;
  margin: 15px 0px 16px;
}
.showList-date {
  color: #999999;
  font: 14px;
}
