<div class="col-md-12">
  <div class="navbar-header">
    <a class="navbar-brand">Home/ {{ title }} </a>
  </div>
</div>
<div class="col-md-7">
  <iframe
    width="800"
    height="484"
    src="https://www.youtube.com/embed/2_jcpxx0Y_M"
  >
  </iframe>
  <div>
    <h3>Similar Videos</h3>
  </div>
</div>

<div class="col-md-5">
  <h2>{{ description }}</h2>

  <ul>
    <li>{{ vType }}</li>
  </ul>
  <button class="btn btn-lg btn-outline-primary" (click)="open()">
    Request More Information {{ description }}
  </button>
</div>

<p>11{{ title }}</p>

<p>{{ showList }}</p>
