<div class="col-md-12">
  <div class="navbar-header">
    <a class="navbar-brand">Home/ {{ showList.title }} </a>
  </div>
</div>
<div class="col-md-7">
  <iframe width="800" height="484" [src]="videoUrl"> </iframe>
  <div>
    <h3>Similar Videos</h3>
  </div>
</div>

<div class="col-md-5">
  <h2>{{ showList.title }}</h2>
  <span class="showList-date">{{ showList.publishedDateTime | date }}</span>
  <p class="showList-description">{{ showList.description }}</p>

  <ul>
    <li>{{ vType }}</li>
  </ul>
  <button class="btn btn-lg btn-outline-primary" (click)="open()">
    Request More Information {{ description }}
  </button>
</div>
